<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.hero.mapper.LolHeroMapper">

    <resultMap id="BaseResultMap" type="com.zy.hero.DO.LolHeroDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="designation" jdbcType="VARCHAR" property="designation"/>
        <result column="hero_name" jdbcType="VARCHAR" property="heroName"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="force_id" jdbcType="BIGINT" property="forceId"/>
        <result column="occupation_one" jdbcType="BIGINT" property="occupationOne"/>
        <result column="occupation_two" jdbcType="BIGINT" property="occupationTwo"/>
        <result column="route_one" jdbcType="BIGINT" property="routeOne"/>
        <result column="route_two" jdbcType="BIGINT" property="routeTwo"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <sql id="tableName">
        lol_hero
    </sql>

    <sql id="BaseColumn">
        `id`, `designation`, `hero_name`, `gender`, `force_id`, `occupation_one`, `occupation_two`,
        `route_one`, `route_two`, `status`, `create_time`, `update_time`
    </sql>

    <sql id="isExist">
        `status` = 1
    </sql>

    <sql id="queryCondition">
        <if test="id != null">
            `id` = #{id}
        </if>
        <if test="designation != null">
            AND `designation` = #{designation}
        </if>
        <if test="heroName != null">
            AND `hero_name` = #{heroName}
        </if>
        <if test="gender != null">
            AND `gender` = #{gender}
        </if>
        <if test="forceId != null">
            AND `force_id` = #{forceId}
        </if>
        <if test="occupationOne != null">
            AND `occupation_one` = #{occupationOne}
        </if>
        <if test="occupationTwo != null">
            AND `occupation_two` = #{occupationTwo}
        </if>
        <if test="routeOne != null">
            AND `route_one` = #{routeOne}
        </if>
        <if test="routeTwo != null">
            AND `route_two` = #{routeTwo}
        </if>
        <if test="status != null">
            AND `status` = #{status}
        </if>
    </sql>

    <sql id="set">
        <if test="id != null">
            `id` = #{id},
        </if>
        <if test="designation != null">
            `designation` = #{designation},
        </if>
        <if test="heroName != null">
            `hero_name` = #{heroName},
        </if>
        <if test="gender != null">
            `gender` = #{gender},
        </if>
        <if test="forceId != null">
            `force_id` = #{forceId},
        </if>
        <if test="occupationOne != null">
            `occupation_one` = #{occupationOne},
        </if>
        <if test="occupationTwo != null">
            `occupation_two` = #{occupationTwo},
        </if>
        <if test="routeOne != null">
            `route_one` = #{routeOne},
        </if>
        <if test="routeTwo != null">
            `route_two` = #{routeTwo},
        </if>
        <if test="status != null">
            `status` = #{status},
        </if>
        <if test="createTime != null">
            `create_time` = #{createTime},
        </if>
        <if test="updateTime != null">
            `update_time` = #{updateTime},
        </if>
    </sql>

    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="BaseColumn" />
        from
        <include refid="tableName" />
        <where>
            <include refid="queryCondition" />
        </where>
        order by `update_time`
    </select>

    <insert id="insert" parameterType="com.zy.hero.DO.LolHeroDO">
        insert
        <include refid="tableName" />
        <set>
            <include refid="set" />
        </set>
    </insert>

    <update id="update" parameterType="com.zy.hero.DO.LolHeroDO">
        update
        <include refid="tableName" />
        <set>
            <include refid="set" />
        </set>
        where
        <include refid="isExist" /> AND id = #{id}
    </update>

</mapper>